<% if report.errors.any? %>
  <div class="alert alert-danger">
    <h2><%= t('views.common.validation_error', errors: i18n_error_count(report.errors.count), name: report.class.model_name.human.downcase) %></h2>
    <div class="error-messages">
      <% report.errors.each do |error| %>
        <div class="error-message text-danger">
          <%= error.full_message %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
